body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 40px;
    padding-top: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    /* margin-left: calc((100% - 800px) / 2); */
}

.logo {
    height: 25px;
}
.main-nav {
    display: flex;
    gap: 20px;
}
.main-nav > .nav-link {
    font-size: 14px;
    text-decoration: none;
    color: black;
}

.column-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 11px;
    width: 800px;
}

.main-title {
    margin-bottom: -25px;
    padding: 0px;;
    font-weight: 100;
    font-size: 61px;
    font-family: 'Courier New', Courier, monospace;
    color: #383838;
}

.subtitle {
    font-size: 61px;
}

.line {
    width: 126px;
    height: 9px;
    background-color: #383838;
    margin-left: 8px;
}

.description {
    margin-top: 10px;
    font-family: sans-serif;
    color: #383838;
}

.btn {
    display: inline-block;
    margin-top: 45px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    border: 4px solid rgb(85, 34, 126);
    border-radius: 30px;
    background-color: rgb(85, 34, 126);
    color: white;
}


.btn + .btn {
    background-color: white;
    color: rgb(85, 34, 126);
    margin-left: 15px;
} 

.btn:hover {
    background-color: rgb(176, 93, 144);
    color: white;
}

.column-right {
    width: 431px;
}

.socials > a {
margin-right: 10px;
    color: #fff;
    background: #aaa;
}

.socials > a + a {
    color: #aaa;
    background: #fff;
}

.socials > a + a + a {
    color: #fff;
    background: #aaa;
}

.socials > a + a + a + a {
    color: #aaa;
    background: #fff;
}


.copyright-text {
    color: #383838;
}
