body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 40px;
    padding-top: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    width: 800px;
}
.container-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    width: 800px;
}
.logo {
    height: 30px;
    width: 100px;
    object-fit: contain;
    object-position: left center;
}
.main-nav {
    display: flex;
    gap: 20px;
}
.main-nav > .nav-link {
    font-size: 20px;
    text-decoration: none;
    color: black;
    border-bottom: 3px solid transparent;
}
.main-nav > .nav-link:hover,
.main-nav > .nav-link.active {
    border-color: blueviolet;
}

.column-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 45%;
}
.column-right {
    width: 55%;
}

.main-title {
    font-size: 44px;
    font-weight: 900px;
    font-family: Arial, Helvetica, sans-serif;
}
.main-title > span {
    display: block;
    font-weight: 100;
}

.line {
    width: 104px;
    height: 9px;
    background-color: #383838;
    margin-left: 6px;
    margin-top: -20px;
}

.description {
    font-size: 20px;
}

.btn-list {
    display: flex;
    gap: 20px;
}
.btn-list > .btn {
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    background-color: blueviolet;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 28px;
    border: 3px solid blueviolet;
}
.btn-list > .btn:hover {
    background-color: white;
    color: blueviolet;
}
.btn-list > .btn.btn-white {
    background-color: white;
    color: blueviolet;
}
.btn-list > .btn.btn-white:hover {
    background-color: blueviolet;
    color: white;
}

.main-img {
    width: 110%;
}

.socials {
    display: flex;
    gap: 10px;
}
.socials > .social-link {
    font-size: 100%;
    text-decoration: none;
    color: grey;
}
.socials > .social-link:hover {
    color: blueviolet;
}

@media (max-width: 1100px) {
    /* body {
        background-color: yellow;
    } */
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        width: 650px;
        /* background-color: orange; */
    }
    .container-main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        width: 650px;
        /* background-color: red; */
    }
    .logo {
        height: 20px;
    }
    .main-nav > .nav-link {
        font-size: 15px;
    }
    .main-title {
        font-size: 32px;
    }
    .description {
        font-size: 15px;
    }
    .line {
        width: 68px;
        height: 7px;
    }
    .btn-list > .btn {
        padding: 8px;
        font-size: 13px;
        font-weight: bold;
        background-color: blueviolet;
        color: white;
        border-radius: 28px;
        border: 2px solid blueviolet;
    }
    .column-right {
        width: 45%;
    }
    .main-img {
        width: 110%;
    }
    .copyright-text {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    body {
        /* background-color: red; */
        margin: 10% 10%
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        width: 100%;
        }
    .container-main {
        display: flex;
        display: block;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        width: 100%;
        }
    .main-nav {
        display: flex;
        gap: 8px;
    }
    .main-nav > .nav-link {
        font-size: 10px;
        text-decoration: none;
        color: black;
        border-bottom: 3px solid transparent;
        /* margin-right: 10px; */
    }
    .line {
        width: 68px;
        height: 7px;
    }
    .logo {
        height: 30px;
        width: 40px;
        object-fit: contain;
        object-position: left center;
    }
    .column-left {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
    }
    .column-right {
        width: 87%;
        margin-top: 20px;
    }
    .btn-list > .btn {
        padding: 3px;
        font-size: 12px;
        font-weight: bold;
        background-color: blueviolet;
        color: white;
        border-radius: 28px;
        border: 2px solid blueviolet;
    }
   
}

